.info-container{
    margin: 1rem;
    height: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info-container ul{
    margin-top: 0.5rem;
    width: 22.5rem;
    height: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* style */
    background-color: #F5F5F5;
    box-shadow: 0px 1px 10px 1px rgba(0, 0, 0, 0.3);
    border-radius: 1.5rem;
}

.info-container li{
    font-size: 1.25rem;
}

@media(min-width:800px){
    .info-container ul{ width: 45rem };
}
