.container{
    height: 5.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 1px 10px 1px rgba(0, 0, 0, 0.3);
}

.container h3{
    margin: 1rem;
    font-size: 2rem;
}

.container li{
    margin: 1rem;
    font-size: 1.5rem;
    color: #2B88D9;
}

.container li:hover{
    cursor: pointer;
    text-decoration: underline;
}

/* UTILS */
.container-logo{
    margin: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.container-link{
    margin: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.btn-menu{
    width: fit-content;
    height: fit-content;
    background: none;
}

.side-menu{
    width: 45%;
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #2B88D9;
    opacity: 0.9;
    overflow-x: hidden;
    transition: 0.5s;
}

.side-menu p{
    font-size: 1.5rem;
    color: #ffff;
    text-decoration: underline;
    line-height: 5rem;
}

.side-menu-notshow p{
    display: none;
}

/* RESPONSIVE */
@media(max-width:600px){
    .container-link li{display: none};
}

@media(min-width:600px){
    .btn-menu{display: none};
    .side-menu{display: none};
}
