.container{
    min-width: 1500px;
    height: 5.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 1px 10px 1px rgba(0, 0, 0, 0.3);
}

.container h3{
    margin: 1rem;
    font-size: 2rem;
}

.container li{
    margin: 1rem;
    font-size: 1.5rem;
    color: #2B88D9;
}

.container li:hover{
    cursor: pointer;
    text-decoration: underline;
}

/* UTILS */
.container-logo{
    min-width: 600px;
    margin: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.container-link{
    min-width: 600px;
    margin: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
