*{
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans', sans-serif;
  color: #6A6A6A;
  text-align: center;
}

ul{
  list-style: none;
}

button{
  width: 12.5rem;
  background-color: #2B88D9;
  border-radius: 2rem;
  border-style: none;
  /* fonte */
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  color: #FFFFFF;
  text-align: center;
}

button:hover{
  transform: scale(1.25);
}